@page "/deletetraytype/{trayTypeID:int}"
@using Growing.Shared.Models
@inject HttpClient HttpClient
@inject NavigationManager urlNavigationManager

<h2>Delete Tray Type</h2>
<h3>Are you sure you want to delete tray with id : @trayTypeID</h3>
<br />

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@trayType.Name</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>@trayType.Handle</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@trayType.Length</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@trayType.Width</td>
        </tr>
        <tr>
            <td>SowingDate</td>
            <td>@trayType.Height</td>
        </tr>
        <tr>
            <td>SowingDate</td>
            <td>@trayType.Notes</td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-danger" @onclick="(async () => await Delete())">Delete</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    [Parameter]
    public int trayTypeID { get; set; }

    TrayType trayType = new TrayType();

    protected override async Task OnInitializedAsync()
    {
        trayType = await HttpClient.GetFromJsonAsync<TrayType>("/api/TrayType/Details/" + trayTypeID);
    }

    protected async Task Delete()
    {
        await HttpClient.DeleteAsync("api/TrayType/Delete/" + Convert.ToInt32(trayTypeID));
        urlNavigationManager.NavigateTo("/fetchtraytype");
    }

    void Cancel()
    {
        urlNavigationManager.NavigateTo("/fetchtraytype");
    }


}
