@page "/delete/{TrayTypeID:int}"
@using Growing.Shared.Models
@inject HttpClient Http
@inject NavigationManager urlNavigationManager

<h2>Delete TrayType</h2>
<h3>Are you sure you want to delete tray type with id : @trayTypeID</h3>
<br />

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@trayType.Name</td>
        </tr>
        <tr>
            <td>Handle</td>
    <td>@trayType.Handle</td>
        </tr>
        <tr>
            <td>Length</td>
    <td>@trayType.Length</td>
        </tr>
        <tr>
            <td>Width</td>
    <td>@trayType.Width</td>
        </tr>
        <tr>
    <td>Height</td>
    <td>@trayType.Height</td>
    </tr>
    <tr>
            <td>Notes</td>
    <td>@trayType.Notes</td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-danger" @onclick="(async () => await Delete())">Delete</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    [Parameter]
    public int trayTypeID { get; set; }

    TrayType trayType = new TrayType();

    protected override async Task OnInitializedAsync()
    {
        trayType = await Http.GetJsonAsync<TrayType>("/api/TrayType/Details/" + trayTypeID);
    }

    protected async Task Delete()
    {
        await Http.DeleteAsync("api/TrayType/Delete/" + Convert.ToInt32(trayTypeID));
        urlNavigationManager.NavigateTo("/fetchtraytype");
    }

    void Cancel()
    {
        urlNavigationManager.NavigateTo("/fetchtraytype");
    }


}
