@page "/delete/{productionID:int}"
@using Growing.Shared.Models
@inject HttpClient HttpClient
@inject NavigationManager urlNavigationManager

<h2>Delete Production</h2>
<h3>Are you sure you want to delete production with id : @productionID</h3>
<br />

<div class="col-md-4">
    <table class="table">
        <tr>
            <td>Name</td>
            <td>@production.Name</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@production.Department</td>
        </tr>
        <tr>
            <td>City</td>
            <td>@production.City</td>
        </tr>
        <tr>
            <td>SowingDate</td>
            <td>@production.SowingDate</td>
        </tr>
    </table>
    <div class="form-group">
        <button class="btn btn-danger" @onclick="(async () => await Delete())">Delete</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</div>

@code {
    [Parameter]
    public int productionID { get; set; }

    Production production = new Production();

    protected override async Task OnInitializedAsync()
    {
        production = await HttpClient.GetFromJsonAsync<Production>("/api/Production/Details/" + productionID);
    }

    protected async Task Delete()
    {
        await HttpClient.DeleteAsync("api/Production/Delete/" + Convert.ToInt32(productionID));
        urlNavigationManager.NavigateTo("/production");
    }

    void Cancel()
    {
        urlNavigationManager.NavigateTo("/production");
    }


}
