@page "/editproduction/{productionID:int}"
@using Growing.Shared.Models
@inject HttpClient HttpClient
@inject NavigationManager urlNavigationManager

<h2>Edit Production</h2>
<hr />

<EditForm Model="@production" OnValidSubmit="UpdateProduction">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label class="control-label col-md-12">Name</label>
        <div class="col-md-4">
            <input class="form-control" @bind="production.Name" />
        </div>
        <ValidationMessage For="@(() => production.Name)" />
    </div>
    @*<div class="form-group row">
        <label class="control-label col-md-12">Gender</label>
        <div class="col-md-4">
            <select asp-for="Gender" class="form-control" @bind="production.Gender">
                <option value="">-- Select Gender --</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>
        <span><ValidationMessage For="@(() => production.Gender)" /></span>
    </div>*@
    <div class="form-group row">
        <label class="control-label col-md-12">Department</label>
        <div class="col-md-4">
            <input class="form-control" @bind="production.Department" />
        </div>
        <span><ValidationMessage For="@(() => production.Department)" /></span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">City</label>
        <div class="col-md-4">
            <input class="form-control" @bind="production.City" />
        </div>
        <span><ValidationMessage For="@(() => production.City)" /></span>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-12">Sowing Date</label>
        <div class="col-md-4">
            <input class="form-control" @bind="production.SowingDate" />
        </div>
        <span><ValidationMessage For="@(() => production.SowingDate)" /></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int productionID { get; set; }

    Production production = new Production();

   // System.DateTime DateOnly = production.SowingDate.ToShortDateString();

    protected override async Task OnInitializedAsync()
    {
        production = await HttpClient.GetFromJsonAsync<Production>("/api/Production/Details/" + productionID);
    }

    protected async Task UpdateProduction()
    {
        await HttpClient.PutAsJsonAsync("api/Production/Edit", production);
        urlNavigationManager.NavigateTo("/production");
    }

    void Cancel()
    {
        urlNavigationManager.NavigateTo("/production");
    }
}