@page "/fetchtray"
@using Growing.Shared.Models
@inject HttpClient HttpClient

<h1>Tray Data</h1>

<p>This component demonstrates fetching Tray data from the server.</p>

<p>
    <a href="/addtray">Create New</a>
</p>

@if (trayList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Tray Type</th>
                <th>Department</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tray in trayList)
            {
            <tr>
                <td>@tray.TrayId</td>
                <td>@tray.Name</td>
                <td>@tray.TrayTypeId </td>
                <td>@tray.Department</td>
                <td>@tray.City</td> 
                <td>@tray.SowingDate</td>
                <td>
                    <a href='/edittray/@tray.TrayId'>Edit</a>  |
                    <a href='/delete/@tray.TrayId'>Delete</a>
                </td>
            </tr>
            } 
        </tbody>
    </table>
}
@code {

    Tray[] trayList;
    TrayType[] trayTypeList;
    protected override async Task OnInitializedAsync()
    {
        trayList = await HttpClient.GetFromJsonAsync<Tray[]>("/api/Tray/Index");
        trayTypeList = await HttpClient.GetFromJsonAsync<TrayType[]>("/api/TrayType/Index");
    }
}
